.filterHeader {
        background: -moz-linear-gradient(to bottom, #80a5dc, #5c75b8);background:-webkit-linear-gradient(to bottom, #80a5dc, #5c75b8);
        background:-o-linear-gradient(to bottom, #80a5dc, #5c75b8);background:-moz-linear-gradient(to bottom, #80a5dc, #5c75b8);background:linear-gradient(to bottom, #80a5dc, #5c75b8);   
        height:32px;padding:2px 5px;}
.filterHeader div{color:White;display:inline-block;vertical-align:middle;line-height:30px;}
.headerBack {
    background: url('https://pictures.tripmasters.com/siteassets/d/inset_border.fw.png') -1px 0 no-repeat;
    text-align: center;
}
.filterCategory1{color:#6985c6;font-size:18px;padding:10px;}
.filterCategory2{color:#6985c6;font-size:18px;padding:10px;border-bottom:solid 1px #cdcdcd;}
.categoryBorder{border-bottom:solid 1px #cfcfcf;background-position:right;}
.category{color:#25254b;font-size:14px;padding:20px 10px 20px 10px;font-weight:600;}
.category::after{content:"\00a0\203A";font-size: 28px;position:relative;top:-8px;left:8px;color:#fca834;float:right;}
#orderByText{color:Gray;font-size:14px;padding:0 10px 10px 25px;}
.filterCategoryHeader{background-color:#dddddd;color:#1c1946; padding:8px 0px 8px 15px;font-size:14px;}
.filterCategoryHeader::before{color:#1c1946;content:"\00a0\2039\2039";font-size: 20px;position:relative;top:1px;}
.filterCategoryContainer{margin:15px;border:solid 1px #cdcdcd;padding:10px 15px 20px 15px;}
.filterOptionsContainer{margin:0 10px;border:solid 1px #cdcdcd;border-radius:5px;padding:5px 0;}
.filterOption{padding:15px 10px;color:#1c1946;cursor:pointer;font-size:14px;border-bottom:dotted 1px gray; font-size:12px; font-weight:bold;}
.filterOptionNoBroder{padding:15px 10px;color:#1c1946;cursor:pointer;font-size:12px; font-weight:bold;}
.selectedOption::after {
    content: url("https://pictures.tripmasters.com/siteassets/m/sel_checked_orange.png");
    float: right;
}
.unselectedOption::after {
    content: url("https://pictures.tripmasters.com/siteassets/m/sel_unchecked.png");
    float: right;
}
.unselectedOptionC {
    background: url("https://pictures.tripmasters.com/siteassets/m/ui-icon-unchecked.gif") no-repeat left center;
    padding-left: 20px;
}
.selectedOptionC {
    background: url("https://pictures.tripmasters.com/siteassets/m/ui-icon-checked.gif") no-repeat left center;
    padding-left: 20px;
}
.grayButton{text-align:center;color:#3c3c3c;border:solid 1px #cccccc;padding:10px;font-size:14px;font-weight:bold; margin:20px 20px 0 20px;
            background: -moz-linear-gradient(to bottom, #e5e5e5, #eeeeee, #f5f5f5, #d8d8d8);background:-webkit-linear-gradient(to bottom,#e5e5e5,#eeeeee, #f5f5f5, #d8d8d8);
            background:-o-linear-gradient(to bottom, #e5e5e5,#eeeeee,#f5f5f5, #d8d8d8);background:-moz-linear-gradient(to bottom,#e5e5e5,#eeeeee, #f5f5f5, #d8d8d8);background:linear-gradient(to bottom,#e5e5e5,#eeeeee, #f5f5f5, #d8d8d8);}
.blueButton{text-align:center;color:#ffffff;padding:15px;font-size:14px;font-weight:bold;margin:20px 5px -5px 5px;
            background: -moz-linear-gradient(to bottom, #2f3b8d, #192653);background:-webkit-linear-gradient(to bottom,#2f3b8d,#192653);
            background:-o-linear-gradient(to bottom, #2f3b8d,#192653);background:-moz-linear-gradient(to bottom,#2f3b8d,#192653);background:linear-gradient(to bottom,#2f3b8d,#192653);}
.bookItButton{color:Black;font-size:12px; font-weight:bold; margin:15px 50px;padding:10px;text-align:center;
            background: -moz-linear-gradient(to bottom, #ffe071, #e9b217);background:-webkit-linear-gradient(to bottom,#ffe071,#e9b217);
            background:-o-linear-gradient(to bottom, #ffe071,#e9b217);background:-moz-linear-gradient(to bottom,#ffe071,#e9b217);background:linear-gradient(to bottom,#ffe071,#e9b217);}
.packTitle{border:none;color:#12174F;font-weight:bold;font-size:14px;text-decoration:none;word-wrap:break-word;}
.packDuration{font-size:12px;color:#606060;}
.packPrice{font-size:14px;color:#fa6e19;}
.packIncludeUp{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-o-transform: rotate(90deg);-ms-transform: rotate(90deg);color:#414040;display:inline-block; font-size:22px; position:absolute;top:99px; left:252px;}
.packIncludeDown{-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-o-transform: rotate(-90deg);-ms-transform: rotate(-90deg);color:#414040;display:inline-block; font-size:22px; position:absolute;top:99px; left:252px;}
.curatelux {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 35px;
    padding: 2px 5px 0px 1px;
    border-radius: 0 5px 5px 0;
}

    .curatelux .best-packages__item-lux {
        display: inline-block;
        font-size: 0.85rem;
        font-style: italic;
        font-family: "Merriweather";
        line-height: 1;
        color: #b89723;
    }

    .curatelux .best-packages__item-stars {
        color: #b89723;
        font-size: 0.95rem;
    }

.starlux {
    color: #b89723;
    font-size: 0.95rem;
}