@charset "utf-8";
.dvMainContainer {
    background: #e7e7e7;
    height: auto
}

.dvViewTitle {
    background: linear-gradient(to bottom,#81a6dd 0%,#5a75b8 80%);
    font-size: 18px;
    padding: 10px;
    color: #fff;
}

    .dvViewTitle span {
        margin-left: 10px;
        background-color: #fba919;
        border-radius: 5px;
        padding: 2px;
        text-align: center;
        font-size: 16px;
    }

.dvViewList {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
}

.dvEachView {
    padding: 10px 10px 3px;
}

.dvViewImage, .dvViewInfo {
    margin: 10px
}

    .dvViewImage img {
        width: 100%
    }

    .dvViewInfo a {
        font-size: 18px;
        color: #19255f;
        text-decoration: none;
    }

.dvViewIncludes {
    margin-top: 20px;
}

    .dvViewIncludes span {
        font-size: 16px;
        font-weight: 700;
        text-align: left
    }

    .dvViewIncludes ul {
        margin: 0;
        padding: 5px 14px;
        font-size: 14px;
        color: #666
    }

.dvViewBtn {
    margin-top: 30px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.dvViewed {
    text-align: center;
    font-size: 16px;
    color: #666;
}

.dvViewBtn a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.lnkFeedTravel {
    font-size: 16px;
    color: #19255f;
    margin-top: 7px
}

.dvViewIt {
    background-color: #ffe78e;
    padding: 7px 0;
    font-size: 18px;
    width: 80%;
    color: #19255f;
    margin: 0 auto;
    border: 1px solid #e0ad13;
    border-radius: 5px;
    margin-top: 20px;
}

.dvViewDisplayMore {
    padding: 15px 10px;
    background: #FFF;
    border-bottom: dotted 1px #ccc
}

    .dvViewDisplayMore button {
        width: 300px;
        height: 45px;
        margin: 10px auto;
        font-size: 16px !important;
        display: block;
        border: solid 1px #666;
        border-radius: 4px;
        cursor: pointer;
        background: #e7e7e7;
        color: #000;
        font-family: Verdana;
    }
