h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
.dvMhomeContainer.container {
    padding: 0 !important;
    width: auto !important;
    max-width: none !important;
}
div.dvMhomeContainer {
    background: #fff;
}
.dvContainer {
    min-width: 320px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.dvContainer *, .dvMhomeContainer * {
    line-height: normal;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --max-width: 550;
    --min-width: 320;
    --average: calc((var(--min-font)*1px) + (var(--max-font) - var(--min-font))*((100vw - var(--min-width)*1px)/(var(--max-width) - var(--min-width))));
    --responsive: clamp(calc(var(--min-font) * 1px),var(--average),calc(var(--max-font) * 1px));
}
.first-container {
    width: 100%;
    min-width: 320px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box
}
.second-container {
    width: 100%;
    min-width: 320px;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}
/*Info*/
.info {
    padding-top: 27px;
    padding-bottom: 27px;
}
.info__title {
    margin-bottom: 11px;
    --max-font: 30;
    --min-font: 26;
    font-size: var(--responsive);
    font-weight: 500;
    text-align: center;
    color: #263377;
}
.info__date {
    margin-bottom: 37px;
    --max-font: 14;
    --min-font: 13;
    font-size: var(--responsive);
    text-align: center;
    color: #000000;
}
.info__trustpilot {
    margin-bottom: 37px;
}
.info__text {
    --max-font: 16;
    --min-font: 14;
    font-size: var(--responsive);
    text-align: center;
    line-height: 22px;
    color: #000000;
}
/*packages*/
.packages {
    padding-bottom: 34px;
}
.packages__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    list-style: none;
}
.packages__item {
    max-width: 500px;
    border: 1px solid #E4E4E4;
}
.packages__link:hover {
    text-decoration: none;
}
.packages__link:hover .packages__name {
    text-decoration: underline;
}
.packages__image {
    max-width: 500px;
    position: relative;
}
.packages__image img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.packages__mob-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF6600;
    border-radius: 50%;
}
.packages__info {
    padding: 10px 15px 22px 15px;
}
.packages__wrapper {
    margin-bottom: 10px;
}
.packages__circle {
    display: none;
}
.packages__price {
    margin-bottom: 5px;
    --max-font: 16;
    --min-font: 14;
    font-size: var(--responsive);
    color: #1A2360;
}
.packages__price > span {
    --max-font: 20;
    --min-font: 18;
    font-size: var(--responsive);
    font-weight: 600;
}
.packages__name {
    --max-font: 19;
    --min-font: 17;
    font-size: var(--responsive);
    font-weight: 500;
    line-height: 25px;
    color: #000000;
}
.packages__description {
    margin-bottom: 10px;
    line-height: 22px;
    color: #666666;
    --max-font: 14;
    --min-font: 13;
    font-size: var(--responsive);
}
.packages__review {
    display: flex;
    align-items: center;
    gap: 8px;
}
.packages__stars {
    --per: calc(var(--rating)/5*100%);
    font-size: 16px;
}
.packages__stars::after {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, #4D5167 var(--per), #fff var(--per)) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000001a;
}
.packages__score {
    display: inline-block;
    font-size: 13px;
    color: #333333;
}
.packages__score span {
    color: #999999;
}
.packages__comment {
    display: none;
}
/*More*/
.more {
    padding-top: 38px;
    padding-bottom: 38px;
    background-color: #F5F5F5;
}
.more__title {
    margin-bottom: 20px;
    --max-font: 26;
    --min-font: 24;
    font-size: var(--responsive);
    font-weight: 500;
    text-align: center;
    color: #333333;
}
.more__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.more__item {
    max-width: 436px;
    width: 100%;
}
.more__item a {
    display: block;
    padding: 20px 10px;
    --max-font: 15;
    --min-font: 13;
    font-size: var(--responsive);
    text-align: center;
    line-height: 19px;
    color:#263377;
    background-color: #FFFFFF;
}
@media screen and (min-width:768px) {
    .dvContainer *, .dvMhomeContainer * {
        --max-width: 1110;
        --min-width: 768;
    }
    /*Info*/
    .info__date {
        margin-bottom: 31px;
        --max-font: 16;
        --min-font: 14;
    }
    .info__trustpilot {
        margin-bottom: 29px;
    }
    /*packages*/
    .packages {
        padding-bottom: 60px;
    }
    .packages__item {
        max-width: none;
        border-radius: 10px;
        overflow: hidden;
    }
    .packages__link {
        display: flex;
        flex-direction: row-reverse;
    }
    .packages__image {
        position: relative;
        width: 50%;
    }
    .packages__mob-circle {
        display: none;
    }
    .packages__info {
        padding: 20px;
        flex: 1;
    }
    .packages__wrapper {
        margin-bottom: 20px;
        display: flex;
        gap: 16px;
    }
    .packages__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 63px;
        height: 63px;
        font-size: 40px;
        text-align: center;
        color: #FFFFFF;
        background-color: #FF6600;
        border-radius: 50%;
    }
    .packages__price {
        margin-bottom: 7px;
        --max-font: 15;
        --min-font: 14;
    }
    .packages__price > span {
        --max-font: 23;
        --min-font: 10;
    }
    .packages__name {
        --max-font: 20;
        --min-font: 18;
    }
    .packages__comment {
        display: block;
        margin-top: 10px;
        color: #666666;
        --max-font: 14;
        --min-font: 13;
        font-size: var(--responsive);
        line-height:22px;
    }
    .packages__date {
        display: block;
        margin-top: 5px;
    }
    /*More*/
    .more__item a {
        --max-font: 15;
        --min-font: 15;
    }
}