@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="/europe/">Europe</a></p>
    <p><a href="/asia/">Asia</a></p>
    <p><a href="/latin/">The Americas</a></p>
</div>
<input type="hidden" value="branch reverted WG-4449-R"/>
