<head>
    @{
        ViewBag.Canonical = @String.Format("https://www.tripmasters.com/terms");

    }
    @{
        ViewBag.Mobile = 0;
    }
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
div.dvStatic_content {font-size: 14px;line-height: 140%;padding: 60px 10px;max-width: 950px;background-color:white;margin:0 auto}
div.dvStatic_content h1.pageTitle {padding: 0 0 5px 10px;margin: 0;font-size: 30px;line-height: 32px;font-weight: 500;color: #36F;}
div.dvStatic_content ol{padding-top:20px}
div.dvStatic_content ol li span {text-transform: capitalize;color: #00C;}
div.dvStatic_content ol li span:hover {text-decoration: underline;color: red;cursor: pointer}
div.dvStatic_content h2 {font-size: 24px;font-weight: 400;line-height: 1.2;color: navy;padding: 5px 0 5px 10px;text-transform: capitalize; }
div.dvStatic_content p {margin: 0 0 10px 15px;}
div.dvStatic_content ul {padding-left: 28px}
div.dvStatic_content ul li {list-style-type: disc;font-size: 12px;margin-left: 10px;}
div.dvStatic_content h3 {font-size: 18px;font-weight: 500;padding: 5px 0 5px 15px;margin: 20px 0 0 0;}
div.dvStatic_content h4 {font-size: 14px;font-weight: 600;padding: 0 0 5px 15px;margin: 15px 0 0 0;color: #333;}
.backToTop {position: fixed;/* Fixed at page */top: 30px;left: auto; right: 20px;background-color: #36F;color: white;padding: 5px;cursor: pointer;display: none;font-size: 20px;}
      @@media only screen and (max-width:780px) {
          div.dvMhomeContainer {background:unset;border-top: 1px solid #ccc;}
          div.dvStatic_content h1.pageTitle {font-size: 29px!important;}
          div.dvMhomeContainer .container{padding:unset;margin:unset;}
          .terms li{padding:5px 0}
          div.dvStatic_content{padding: 20px 10px!important;}
      }
  </style>

</head>
<span class="backToTop" onclick="gobodyTop()">TOP</span>
<div class="dvStatic_content">
    <h1 class="pageTitle">Tour Packages - Terms and Conditions</h1>
    <ol class="terms">
        <li><span id="1" class="spNone">general product information</span></li>
        <li><span id="2" class="spNone">our advertisements</span></li>
        <li><span id="3" class="spNone">package price - before a reservation is created</span></li>
        <li><span id="4" class="spNone">package price - once you have a booking number</span></li>
        <li><span id="5" class="spNone">passport, visas and travel permits</span></li>
        <li><span id="6" class="spNone">travel insurance</span></li>
        <li><span id="7" class="spNone">payments</span></li>
        <li><span id="8" class="spNone">travel voucher and shipping of travel documents</span></li>
        <li><span id="9" class="spNone">name changes</span></li>
        <li><span id="10" class="spNone">changes to existing reservations</span></li>
        <li><span id="11" class="spNone">Airline-initiated schedule changes (Involuntary)</span></li>
        <li><span id="12" class="spNone">cancelations</span></li>
        <li><span id="13" class="spNone">dispute resolution, complaints and refunds</span></li>
        <li><span id="14" class="spNone">Customer Contact Information - Consent Agreement</span></li>
        <li><span id="15" class="spNone">responsibility</span></li>
        <li><span id="16" class="spNone">supplier terms and conditions</span></li>
        <li><span id="17" class="spNone">Travel Gift Certificates</span></li>
        <li><span id="18" class="spNone">Security and Privacy</span></li>

    </ol>
    <br />
    <h2>1. general product information</h2>
    <p>Vacation packages require a minimum of 4 nights of hotel.</p>
    <p>
        The vast majority of our packages are intended for the independent traveler, with the flexibility to select how many nights you want
        to spend in each city and the ability to create your own itineraries, selecting your own travel dates, list of cities to visit, flight
        itineraries, etc.
    </p>
    <p>
        You may combine the following services in our vacation packages: international flights, hotels, train tickets, car rentals, local
        transfers, sightseeing tours, regional flights, cruises, hydrofoils and ferries.
    </p>
    <p>All prices are expressed in US dollars.</p>
    <p>We do not charge online booking fees.</p>
    <p>We do not charge for booking with the assistance of a live agent on the phone.</p>
    <p>
        Sometimes in some destinations hotels displayed online may not be available. We will not charge your credit card until we obtain
        your approval for our proposed alternative.
    </p>
    <p>
        <span style="font-size: 18px; font-weight: 500;">Group Bookings:</span> Tripmasters business model is set up for direct consumer purchases only. We do not cater to groups or businesses to business passengers due to the dynamic nature of our rates. Tripmasters cannot guarantee exact same services for all passengers. We have multiple room types, meals, baggage, seats and a class of services options that may not be available for all in a group or even a smaller multi - booking purchase with just 2 more traveling companions
    </p>

    <h3>General Package information:</h3>
    <p>
        -  Tripmasters expressly reserves the right to correct any pricing errors on our Website and/or reservations made under an incorrect price. In such an event, if available, we will offer you the opportunity to keep your reservation at the correct price or we will cancel your reservation without penalty. Tripmasters is under no obligation to provide travel products and services to you at an incorrect (lower) price, even after you have been sent confirmation of your booking.
     </p>
      <p>
               The vacation package price does not include ground transportation unless otherwise specified in your itinerary or selected.
    </p>
    <p>-  Your credit card will be charged for the indicated amount only when all air, hotel and services are confirmed.</p>
    <p>-  Your credit card statement may reflect two entries, one from the airline and one from us but always for the same total package price.</p>
    <p>
        -  In the event we cannot reconfirm your room before the airfare we quoted expires then we will issue the air ticket with the airline
        with your credit card to give us another 24 hours to confirm accommodations. Unfortunately some airline fares do not allow us to
        hold a seat at a certain price unless it is ticketed by a certain time limit. Airlines only give us 24 hours to void a ticket that has been
        issued. In the unlikely and unfortunate event that we had to issue the ticket to give us more time and we still could not obtain the
        room you wanted then the airline or us will refund you the full amount within 3 business days depending on whether the credit card
        merchant was us or the airline.
    </p>
    <p>
        -  If a debit/ check card is submitted by the client we are not responsible for any bank overdraft fees or any other charges that might
        be charged by your bank.
    </p>
    <p>
        -  A "cancellation" is defined as any change made to the name of a traveler when booked (e.g. a change from "J. Smith" to "John
        Smith"), the substitution of one traveler in place of another, a reduction to the number in the party, and/or the termination of the
        entire trip. All other changes to a reservation constitute a revision.
    </p>
    <p>
        -  No prices, flights, hotel availability, rental car availability, attraction and service availability, or dates of travel are confirmed until a
        required payment is received.
    </p>
    <p>-  All travelers must travel on the same itinerary.</p>
    <p>- Delivery addresses for bookings requiring physical documents must be street addresses. No P.O. boxes will be accepted.</p>
    <p>-  Electronic confirmation and documentation will be sent to the e-mail address listed on the booking form page.</p>
    <h3>International and Regional Flights:</h3>
    <p>Some fares may not accrue miles.</p>
    <p>All airline tickets once issued are non-refundable.</p>
    <p>
        We strongly recommend that you select flights with a minimum of 2 hours to make your connection time. Many flights displayed on
        our site will have much shorter connection times. You are responsible for selecting the right itinerary for you and we can't be
        responsible for any misconnections due to tight connections that might affect your itinerary.
    </p>
    <p>It is your responsibility to reconfirm your flights directly with the airlines at least 72 hours prior to your departure date (outbound and inbound).</p>
    <p>
        It is also your responsibility to verify luggage allowance with each airline. Please note your itinerary may include two or more airlines,
        and the luggage allowed on each flight may differ from one airline company to another. Our site allows you to select seats as
        allowed by the airline. You may contact us to view/modify your seat numbers at any time. Tripmasters.com does not control seat
        numbers availability on a plane. Seat numbers are released by airlines reservations system so we can block them on your behalf.
    </p>
    <p>Some airlines block their availability of seat numbers for certain flights, and they reserve the right to not offer certain seats.</p>
    <p>
        When booking a child under the age of 2 years old they WILL NOT get a seat rather it will be considered a lap baby.The infant will require a ticket number and a fee or taxes are subject to each airlines rules.<br />
        Please make sure if you purchase the booking online you call to add the legal name of your infant or "lap baby" and authorize fee.
    </p>
    <p>
        Airlines occasionally create overbooked conditions. Tripmasters.com cannot be held responsible for these situations and will not
        refund moneys for such situations since they are beyond our control. Passengers need to present and resolve their compensation
        issues to the airline directly at the time the situation arises.
    </p>
    <p>We will not refund any money due to passengers arriving late for check-in.</p>
    <p>Passengers should plan to check in 3 hours prior international flight times and 2 hours prior regional flight times.</p>
    <p>
        Passengers are responsible for verifying their air itineraries with the airline 24 hours before departure. We will not refund moneys for
        missed flights due to airline schedule changes.
    </p>
    <h4>Airline tickets - Missed or Cancelled segments.</h4>
    <p>
        Any missed segments can result in cancellation/no show which in turn means
        no value of the proceeding segments of travel. Customers MUST always
        contact us PRIOR to departure should they need to cancel the airline
        tickets last minute. Airline tickets are issued as 1 ticket so if the
        passenger misses the first flight the airline will cancel ALL proceeding
        flights.
    </p>
    <p>
        If a client needs an international outbound flight cancelled. Please note
        all other segments attached to this ticket will be cancelled. Client will
        need to re-purchase a new ticket for travel.
    </p>
    <p>
        Tripmaster's airline tickets cannot be altered or upgraded with
        mileage/reward programs with any participating airline. Classes of service
        will not be changed after ticket is issued. Our fares do not allow for such
        changes.
    </p>
    <h3>Hotels</h3>
    <p>Our list of hotels available for a city changes according to your date selection.</p>
    <p>Our "Favorites" hotels list is determined by a score from customer reviews and our team based on location, rating and value. We do not receive any type of compensation or incentive from hotels to be included in our recommended list.</p>
    <p>The score is a percentage. The higher the percentage the better the hotel in the eyes of its reviewers. Generally in larger cities we only offer hotels with a core higher than 80%.</p>
    <p>
        You can sort our list of hotels by customer ranking, by price, by name and by hotel class. As default, we show hotels sort by price, offering the least expensive as the first option. We encourage you to explore other hotel options before booking your trip, and select
        one that is highlighted as a favorite. Maps with hotel locations can be found in each of our Hotel Descriptions. Room (s) confirmed will accommodate the number of passengers included in your reservation. Bedding (number of beds in room and size of beds) is not
        guaranteed and subject to hotel availability at time of check in. Reservations confirmed as twin rooms will generally include 02 twin size beds and will accommodate a maximum of 2 adults. Reservations confirmed as double rooms will generally include 01 double
        size (matrimonial) bed and will accommodate a maximum of 2 adults. Triple rooms will generally accommodate 3 adults and the bedding can be 2 twin beds + 1 pull out sofa or 01 double bed + 1 pull out sofa or 3 twin beds or whatever bedding is offered by the
        hotel itself. Quad rooms will generally accommodate 4 adults with a variety of bedding combinations (4 twin beds or 2 twin beds + 1 pull out sofa or 1 double bed + 1 twin bed + 1 pull out sofa or whatever bedding is offered by the hotel itself. Any hotel special
        request will be submitted by Tripmasters.com to the property but is never guaranteed and subject to availability at time of check in. Examples of special requests are: early check in, late check out, smoking rooms, non smoking rooms, bedding request (number of beds and/or size of beds), floor number, view (unless specified in reservation), etc.
    </p>
    <p>If a non refundable property is booked during the booking process the client is responsible for the TOTAL price of the non refundable property that has been reserved.</p>
    <p>For further assistance with hotels selections, you may contact our customer service representatives.</p>
    <p>
        All hotel descriptions reflect the most updated information provided by the property at time of printing Tripmasters.com cannot be held responsible for the condition of accommodations. There may be charges applicable for some amenities listed in these
        descriptions as free, and availability may vary by season. In these instances, Tripmasters.com is not responsible for any charges incurred by the traveler in utilizing such amenities and client agrees not to make Tripmasters.com responsible for the availability
        and/or accessibility of any and all facilities and services at time of stay. Client will notify any dissatisfaction with rooms or hotel facilities with the hotel's management during the passenger's stay and will not make Tripmasters.com responsible for the
        dissatisfaction. Hotels, at times, just like airlines, create overbooking conditions. In overbooking cases, compensation and arranging accommodations in another hotel is the responsibility of the hotel and passengers must negotiate all compensation with the hotel
        during the stay and not make Tripmasters.com responsible for any financial compensation due to the overbooking situation.
    </p>
    <p>Tripmasters.com is not responsible for any changes initiated by the passenger after departure.</p>
    <p>Our prices do not include additional expenses such as laundry, parking, alcoholic beverages (except when included), excess baggage charges, baggage insurance, meals (except as indicated in itineraries), items of a personal nature, tips and gratuities of any kind.</p>
    <p>We do not accept hotel points to pay for accommodations. In the same way, clients will NOT accumulate points with their hotel programs when booking thru Tripmasters.com.</p>
    <p>We will not refund monies for dissatisfaction with the conditions of a property, its rooms, facilities or services. Please take note that the lower the price the lower the quality.</p>
    <p>Please note that departure taxes may be incurred depending on the city of accommodation. These taxes range from 6.00 to 12.00 USD per person per night depending on hotel class/rate. These taxes are to be paid to the hotel directly as they are considered a city tax.</p>
    <h3>Trains</h3>
    <h4>General Train information for Asia:</h4>
    <p>All Japan Rail Pass Exchange Orders are non-refundable once issued.</p>
    <p>Japan Rail Pass Exchange Orders included in your prepaid package are booked in the Japanese Rail System 30 to 60 days prior to your departure date to Japan. Some premier trains in Japan have limited availability. Schedules and routes are subject to change.</p>
    <p>Please note that during heavy travel periods you cannot be guaranteed a seat on a specific train. Exchange Orders are paper documents that are shipped to clients no later than 30 days prior to departure (unless delayed due to special circumstances).</p>
    <p>
        After clients arrive in Japan, they must turn in the Exchange Order to receive their Japan Rail Pass at an applicable JR station that has a Japan Rail Pass exchange office. At the exchange office, clients will be required to fill in a short application form and to show
        their passport with the Temporary Visitor stamp/sticker they received on entry into Japan. Client MUST show their passport and this stamp/sticker to process the Japan Rail Pass Exchange Order.
    </p>
    <p>
        The validity period of a Japan Rail Pass is the consecutive 7, 14 or 21 days beginning on the date the Pass is first used. Once the Pass has a starting date written on it, the date cannot be changed.
    </p>
    <p>
        The Japan Rail Pass is NOT valid for NOZOMI Shinkansen trains.
    </p>
    <p>
        We will not refund monies for Exchange Orders that have been lost, stolen or left at home. You must have physical Exchange Orders in your possession to exchange for the Japan Rail Pass. Failure to hold physical Exchange Orders will result in passengers purchasing new point to point train tickets at the train station at their own expense.
    </p>
    <h4>General Train information for Europe:</h4>
    <p>Train rides included in your prepaid package are booked in the European Rail System 30 to 120 days prior to the train date of service. Some overnight premier trains in Europe have limited availability.</p>
    <p>Schedules and routes are subject to change. Train tickets are paper documents that are shipped to clients no later than 30 days prior to departure (unless delayed due to special circumstances).</p>
    <p>Clients must validate their tickets at each train station before boarding. Train controllers may impose a penalty on board if passengers failed to validate their tickets. Such penalties are collected in local currency and must be paid with cash.</p>
    <p>Train tickets can be issued with: 1. Confirmed times or 2. Open times.</p>
    <p>Tickets with Confirmed times must be used as reserved; otherwise ticket loses its value. We will not refund monies to clients who have missed the scheduled departure time of their train.</p>
    <p>Time Changes on confirmed, ticketed reservations are subject to change penalties.</p>
    <p>Train times are not guaranteed until confirmed and are subject to availability.</p>
    <p>Open tickets are issued for a particular date and clients are free to select the departure time of their preference at the train station.</p>
    <p>Depending on the departure time the client chooses they may be required to pay for a supplemental seat reservation at the train station before boarding. Such fee cannot be collected by European Destinations in advance.</p>
    <p>We will not refund monies for train tickets that have been lost, stolen or left at home. You must have physical tickets in your possessions to board trains in Europe. Failure to hold physical train tickets will result in passengers purchasing new tickets at the train station at their own expense.</p>
    <h3>Car Rentals</h3>
    <p>
        We require a minimum of 3 consecutive days to confirm car rentals. Rental periods are based on 24 hour increments from the time of check out. There is often no difference in price for a 5, 6 or 7 day rental periods. Some countries do require that you present an
        International Driver's License at time of pick up, in order to check out the rental vehicle. The cost of an IDL is usually around US$ 20 - US$ 30 and can be purchased at your local AAA office or your local DMV. An IDL is a translation booklet that is carried with your government issued driver's license when driving outside of the US. It is intended for the foreign officials to be able to read your
        actual state issued driver's license. IDL's are typically translated into French, Spanish, English, Italian, Russian, Arabic, German, Chinese, Japanese and Portuguese. Our car rental broker offers two different types of car rental rates. The Basic rate will include
        public liability and fire insurance (you would have to use your credit card locally in order to cover CDW and Theft). <span style="color: red">
            Please make sure
            you have a major credit card to pick up the car rental locally. A lot of car rental companies will not allow you to pick up the car without a major credit card for incidentals. Debit cards will not be allowed with some suppliers.
        </span> The Inclusive rate includes public
        liability, fire insurance, CDW and Theft Protection. Be sure to check your voucher or ask a reservation agent for the deductible amount on the CDW and Theft if taking the Inclusive rate. Our website offers the INCLUSIVE RATE only. If for any reason we fail to
        offer the INCLUSIVE rate on our website, and the BASIC rate is offered instead, we encourage you to request a change of policy, as insurance is much more expensive in Europe than prepurchasing.
    </p>
    <p>
        CDW (Collision Damage Waiver) is a provision in car rental contracts in which the renter is charged an extra fee for coverage and in turn the rental company agrees to waive its right to recoup
        losses due to damage that has been caused to the vehicle. Most policies come with a non-waiverable deductible that the renter is responsible for if damage is done to the rental vehicle. Often times the deductible amount can be lowered by purchasing Super
        CDW or zero excess insurance at time of pick up. Many major US and Canadian credit cards will cover this insurance for 30 days and 45 days, respectively. Please be sure to check with your credit card company to make sure they cover CDW. CDW is also
        known as LDW (Loss Damage Waiver). Liability Insurance covers the renter for damage or bodily harm to persons and/or property outside of the rental vehicle. In the case of driver negligence, liability insurances are rendered VOID. Theft protection: In the event
        the rental vehicle is stolen, this insurance covers the renter. Just like CDW, theft protection will also come with a non-waiverable deductible. If your rental vehicle is stolen, a police report must be filled out within 24 hours of the theft and the car rental company
        must be notified. Many US credit cards will provide this insurance for European rentals, along with CDW. Please be sure to check with your credit card company to find out what kind of coverage you have. Some countries apply a fee for extra drivers. Please
        check with us to get detailed info about extra drivers. When a rental car is returned to a location different from its origin, it is considered a One Way rental. There are two types of One Way Rentals: domestic one ways are within the same country and
        international one ways occur when the vehicle is returned to a different country. Domestic one ways are generally free of charge, if a fee applies for a domestic one way, you will be advised. International one ways mean hefty fees. There are also restrictions on what
        type of vehicles are allowed on one ways. If you are booking a one way rental, you will be advised if it is allowed and if a fee applies at the time you create your reservation. Combining countries in Europe with rent-a-cars involves heavy one way fees which are not
        included in our price. These one way fees are given to us once reservation is confirmed. We are sorry we can not provide you with a quote for inter-country one way fee without having a confirmation number. In the event that your rental vehicle was to become
        undrivable during your rental, the supplier should provide you with roadside assistance for breakdown and towing. The phone number for the roadside assistance is usually on the rental agreement, on the key chain or in the glove box. Please be sure to check
        your rental agreement for further details.
    </p>
    <h3>Sightseeing Tours</h3>
    <p>Our basic packages do NOT include sightseeing tours. Sightseeing tours are optional services you can add to your itinerary while building your package.</p>
    <p>Sightseeing tours are operated by independent local tour operators. Some Tour Operators may include a hotel pick up, while others may require that you meet the tour group at a particular location.</p>
    <p>Some tours do not operate every day of the week. Some tours do not operate on holidays (i.e. Easter, Christmas Eve, Christmas day, New Year's Eve and New Year's day).</p>
    <p>Pick up times and locations will be listed on your travel vouchers.</p>
    <h4>For tours within Europe & Asia:</h4>
    <p>
        Even though a hotel pick up may not be included in the tour description (and therefore it is not included in our price), some Tour Operators may provide a "free/complimentary" hotel pick up, if the hotel is located close to their Meeting Point or in the historic
        center. Tour Operators do not provide us with a list of the hotels where they can or cannot offer this complimentary service. Depending on the country you are visiting Clients must call our vendor 24 hours before their sightseeing tour to find out if a hotel
        pick up can be arranged. If for any reason passengers miss the free/complimentary pick up, or if for any reason the tour operator fails to show up, they are NOT entitled to a refund for the hotel transfer.
    </p>
    <h3>Transfers </h3>
    <p>In most destinations, itineraries do NOT include transfers. Transfers are optional services you can add to your itinerary during the booking process. We offer shared and private transfers at most destinations. Some cities are serviced by several airports, therefore several transfer options will be offered. Please select the one that fits your flight itinerary</p>
    <h2>2. our advertisements</h2>
    <p>
        Advertised package prices are expressed in US dollars, based on double hotel occupancy. Airline taxes and fuel surcharges are included in our advertised prices. Suggested travel dates for advertised packages are informed as a reference only. Prices are
        offered based on availability at the time the ad was created. Once availability changes than advertised prices and suggested travel dates consequently change.
    </p>
    <h2>3. package price - before a reservation is created</h2>
    <p>All prices are expressed in US dollars.</p>
    <p>Prices for vacation packages are subject to change without notice.</p>
    <p>Prices are dynamic in nature, subject to availability and subject to fluctuations in currency exchange rates.</p>
    <p>Customized itineraries must be booked immediately once created online in order to hold the correct price and availability.</p>
    <p>Saved (old) itineraries must be re-priced from scratch at the time you are ready to make your reservation.</p>
    <h2>4. package price - once you have a booking number</h2>
    <p>All prices are expressed in US dollars.</p>
    <p>The final package price is based on what you selected during your booking process. Please verify that you selected all land services that you would like to purchase.</p>
    <p>No prices, flights, hotel availability, rental car availability, attraction and service availability, or dates of travel are guaranteed until your payment has been processed and charged.</p>
    <p>If for some reason, a hotel fails to confirm, we will advise you as soon as possible with alternatives. Your credit card will not be charged until all hotels are confirmed.</p>
    <p>Tripmasters expressly reserves the right to correct any pricing errors on our Website and/or reservations made under an incorrect price. In such an event, if available, we will offer you the opportunity to keep your reservation at the correct price or we will cancel your reservation without penalty. Tripmasters is under no obligation to provide travel products and services to you at an incorrect (lower) price, even after you have been sent confirmation of your booking.
        </p>
    <p>In the event that your booked itinerary prices at a lower or higher rate in the future, Tripmasters.com will not be able to honor a discount or impose an additional collection to match the new market price.</p>
    <h2>5. passport, visas and travel permits</h2>
    <p>
        All travel documents are the responsibility of the passenger. A valid passport with at least 6 months validity after the date of travel is required.<br />
        You are responsible for checking with the appropriate consulates and respective authorities as visas and/or vaccinations may be required.<br />
        Note that our agents cannot be expected to know all documentation requirements for your trip. No refunds will be entertained for passengers who cannot embark on an aircraft due to incomplete documentation such as lack of passports or visas or affidavits for minors traveling alone or with only one parent.<br />
        Keep in mind that entry requirements may vary for US-Citizens and Non US-Citizens.<br />
        Tripmasters recommends <a href="https://visacentral.com/?login=tripmasters">VisaCentral</a> — a fast, easy and secure way to get the travel documents needed for international trips. Get the convenience you want and peace of mind knowing your travel documents are in order before your trip.
    </p>
    <h2>6. travel insurance</h2>
    <p>Travel insurance is highly recommended.</p>
    <p>Travel insurance is an optional / not mandatory item. You are responsible for selecting to accept or decline the travel insurance at the time you purchase your package.</p>
    <p>
        For customers who purchased travel insurance on/after October 1st, 2021, coverage is offered by <b>Redpoint.</b><br />
        For customers who purchased travel insurance on/before September 30th, 2021, coverage is offered by <b>Allianz Global Assistance.</b>
    </p>
    <p>For more information on the offers provided, please <a href="http://www.tripmasters.com/insurance.aspx">Click Here</a>.</p>
    <h2>7. payments</h2>
    <p>We accept all major credit cards issued in the US, UK and Canada. Please note all prices are reflected in US dollars.</p>
    <p>Your credit card statement may show more than one charge: one from the airline(s) and one from Tripmasters. All charges will sum up your total package price.</p>
    <p>If a debit/check card is submitted by the client we are not responsible for any bank overdraft fees or any other charges that might be charged by your bank.</p>
    <p><b>STAGGERED PAYMENTS:</b> Our system allows you to stagger your payments using ONLY ONE CREDIT CARD.</p>
    <p><b>OTHER PAYMENT OPTIONS:</b> PAYPAL, AMAZON PAY, AFFIRM.</p>
    <p>See all payment options <a href="https://www.tripmasters.com/Payments.aspx">here</a></p>
    <p>
        The fact that we allow clients to pay in parts is irrelevant to these terms and conditions. The obligation for the client to us is the whole amount of the booking at the time of booking regardless how much of the booking has been paid to us. Cancellation penalties will be based on the whole amount of the booking not on partial payments processed at the time of cancellation. If the cancellation penalties exceed what we have been paid, then you agree for us to charge your credit card to cover any unpaid cancellation fees.
    </p>
    <h2>8. travel vouchers and shipping of travel documents</h2>
    <p>
        Most of our documents can be delivered in digital form. Allow 2 - 3 business days after full payment is processed to receive a final confirmation email with attached travel vouchers. Those vouchers are your proof of payment for vendors. You must print your
        vouchers and carry them with you during the trip to render services with the final provider (hotels, tour operators, car rental companies, etc).
    </p>
    <p>Travel vouchers are emailed to the email address listed in your booking form page. Please use one email address only.</p>
    <p>Our vouchers will show Tripmasters.com as the official issuer of services. Train tickets, hydrofoil for Europe and certain airline tickets cannot be provided in the form of a ticket less voucher and need to be issued as hard paper copies. In those cases, we will FedEx your hard copies approximately 30 days before departure.</p>
    <p>Delivery addresses must be street addresses. No P.O. boxes will be accepted. Mailing fees apply.</p>
    <p>Some train tickets are issued 15-10 days before departure. In those cases, train tickets are FedEx'd within one week of departure.</p>
    <p>If you failed to include the shipping fee in your package, we will add the appropriate shipping charges to the cost of the trip. Please note: additional fees apply for Saturday, early morning delivery or other situations. Additional fees apply for international shipping as well.</p>
    <p>Passengers are responsible of informing of any changes/corrections to their address. Tripmasters.com is not responsible for travel documents delivered to the wrong address and therefore being lost or stolen.</p>
    <h2>9. name changes</h2>
    <p>Names on reservations must match the information included in your passport(s).</p>
    <p>You are responsible for providing us with your legal first and last names as they are shown on your passport.</p>
    <p>Once your package is processed, name changes are NOT allowed. Vacation packages are not transferable. Airlines and other providers do not allow name changes on their tickets.</p>
    <p>You cannot change the name on an airline/train/hydrofoil/cruise/mini-package ticket or give the ticket to someone else to use.</p>
    <p>In the event you provide us with the wrong name(s) for your reservation, then you agree to cancel such reservation applying all involved penalties and repurchase services with the price available at that time. For further details on cancellation procedures, review our <a id="12" class="spNone">CANCELLATIONS</a> section in our Terms and Conditions.</p>
    <h2>10. changes to existing reservations</h2>
    <p>Package changes include: date changes, cancellation/modification of a single component of your package and departure time changes for the same date on airline/train/hydrofoil/cruise/mini-package tickets.</p>
    <p>All changes must be requested in writing to Tripmasters.com. Changes cannot be made online.</p>
    <p>Tripmasters.com, unlike many other agencies, does not charge its clients any fees for revisions or cancellations. But our suppliers do and as their agency we must charge you for those supplier fees.</p>
    <h3>a. Airlines</h3>
    <p>All airline tickets are non-refundable once ticketed.</p>
    <p>
        In general, airlines allow changes as long as the original air reservation has been cancelled prior to departure. Some airlines require 24 hours to cancel the original schedule to be able to process a change on their tickets. Some airlines require that you select a new
        travel date and exchange tickets before the original travel date. Some airlines allow you to use tickets for a future exchange up to one year from the original ticketed date, provided the air reservation is cancelled prior to departure. Some airlines do not allow any changes at all, not even paying a fee. Some tickets are not re-routable.
    </p>
    <p>
        When changes are permitted, all segments in ticket status must show as OPEN to process an exchange.<br />
        Airline change fees apply according to the airline fare rules plus any fare difference that may increase. Change fees vary between airlines. Fare rules may vary within one airline.
    </p>
    <p>Name changes are not allowed. You cannot exchange a ticket from one airline to another. Tripmasters.com does not control the fees set by the airline and have no authority to waive them.</p>
    <p>If your trip has already started, you may contact the airline directly to make changes to your reservation. The airline will provide you with instructions on exchanging your original ticket when you confirm your new itinerary.</p>
    <p>As a general reference, airlines penalties for changes can range anywhere between US$100 to US$300.00 per ticket.</p>
    <h3>b. Hotels</h3>
    <p>The closer to your departure date that you change, the more likely that there will be higher penalties. Hotel penalties vary between properties. Each property and each hotel supplier may establish different conditions for changes.</p>
    <p>
        For multiple room reservations, we may use 2 or more suppliers. In those cases, each supplier may apply different change penalties for the same property. Note that, depending on the season, some hotel reservations may not be changeable at all (fairs,
        conventions, special events, Holidays, New years, Christmas, etc). Changes while traveling are permitted. However, passengers must agree to the new price IN WRITING (by e-mail)
        before we process any hotel changes. We suggest you open a free online email account to ease our requirement of having your email approval while abroad. We do NOT accept approvals on the phone. Any
        refunds (and penalties) resulting to the change will not be known to us for at least three business days by the supplier. Therefore, we will not be able to apply any monies towards your changes.
    </p>
    <h3>c. Trains</h3>
    <p>Train changes requested 60 or more days before departure are penalty free.</p>
    <p>Train tickets are issued anytime within 60 days of departure. Once issued, any train change is subject to a penalty of $25 per person, plus any difference in fare. Note that some train tickets are not upgradeable even paying a penalty. Once a train ticket has been issued it will be non-refundable.</p>
    <p>If change is requested once train tickets are in your possession, you (client) are responsible for mailing back your train ticket(s) to our office. We cannot process the train change until we receive the original ticket. Additional mailing fees will apply.</p>
    <h3>d. Car Rentals</h3>
    <p>Changes to car rentals prior to departure may incur a vendor fee. Remember there is a 3 day minimum if you decide to reduce your rental period.. This will be advised upon change.</p>
    <p>Depending on your travel destination you may be required to pay any difference directly with the car rental company.</p>
    <h3>e. Sightseeing tours and Transfers</h3>
    <p>The closer to your departure date that you change, the more likely there will be higher penalties. Changing/Canceling within 10 days may result in non refundable tours or transfers.</p>
    <h3>f. Greek Hydrofoils / Ferries</h3>
    <p>
        Hydrofoil/ferry tickets are issued in Greece and mailed to the US by our supplier as soon as they become available for your dates. When a change is requested, and tickets are in your possession, you must mail them back to our office. A change can be processed only if: 1. Original ticket is in our office AND 2. There is enough time for our Greek supplier to mail new tickets AND enough time for
        us to mail the new tickets to you. If previous conditions cannot be fulfilled, then we may refund your original ticket (penalties will apply) and ask you to purchase new tickets on your own once you arrive in Greece. Please note that some hydrofoil/ferry tickets may not be refundable at all, not even charging a fee.
    </p>
    <h3>g. Cruises</h3>
    <p>
        The closer to your departure date that you change, the more likely there will be higher penalties.<br />
        Add Collect
    </p>
    <p>Changes require recalculation of prices. Prices and availability for new dates or new/modified services for the same date may differ from your original package price; especially if you are changing from low to high season dates.</p>
    <p>Price increases are calculated on top of any Supplier penalties and Tripmasters.com revision fees/penalties.</p>
    <h2>11. Airline-initiated schedule changes (Involuntary)</h2>
    <p>
        The airline has the right to adjust, change, and cancel flights up to the day of departure. An airline-initiated schedule change is created by the airlines due to reorganization of flights, weather, or other unforeseen circumstances.
    </p>
    <p>
        Tripmasters will act as an agent between you and the airline in order to assist you in adjusting your schedule change with the best options available provided by the airline. If the airline has significant changes or cancellations, you may be entitled to a refund. Eligibility for refunds under the <a href="https://www.transportation.gov/briefing-room/biden-harris-administration-announces-final-rule-requiring-automatic-refunds-airline#:~:text=Canceled%20or%20significantly%20changed%20flights,fails%20to%20provide%20this%20service">United States Department of Transportation (DOT) regulations</a> applies only for flights traveling to and from the US.
        Tripmasters.com is not responsible for airline schedule changes and travel disruptions that this may cause, such as:

        <ul>
            <li>Airlines misconnections</li>
            <li>Missed services</li>
            <li>Additional services</li>
            <li>Additional fare collection</li>
        </ul>
    </p>
    <p>If a refund request is processed according to airline policies, the client is responsible for purchasing a new ticket with another carrier. Funds cannot be transferred from one airline to another. In the event you need to purchase a new ticket, the price will be based on the current fare offered by the alternative airline.</p>
    <p>IMPORTANT: If you decide to cancel your entire booking due to an involuntary schedule change, please be aware that penalties and fees apply to any non-refundable services included in your reservation.</p>
    <h2>12. cancelations</h2>
    <p>
        A cancellation is defined as the voluntary termination of an entire trip and is requested BEFORE the original travel date.
        We must receive cancellation notices in writing. Verbal cancellations are not accepted. Cancellations cannot be made online. Please
        open this link <a href="http://www.tripmasters.com/contact_us">www.tripmasters.com/contact_us</a> and fill in your information stating your cancelation desire.
    </p>
    <h3> Tripmasters.com cancellation fee: </h3>
    <p>We do not charge cancellation fees of our own, only those the suppliers apply to your booking.</p>
    <p>
        Each supplier has its own conditions and penalties for cancellations. Supplier's conditions are subject to change without previous
        notice' therefore we can only explain in a general way some of those penalties, as follows:
    </p>
    <h3>a. Airlines</h3>
    <p>All Airline Tickets are non-refundable. Changes will be permitted as long as the reservation has been canceled 48 hours prior to departure (see changes for more information).</p>
    <p>
        Exceptions: Due to Death or Medical - If the airline rules permit to request a refund it is up to the airline to evaluate your case and process a Full and/or Partial refund in the event of a Death or Medical related reason. The airline will require proof such as a death
        certificate, military deploy letter and/or a medical certificate. Reservations must be cancelled prior to ticketed departure date in order to request a refund to airlines.
    </p>
    <p>Airline paper tickets must be mailed back to our office in order to process a refund in reference to the exceptions listed above.</p>
    <p>A "no show" is considered no notification to cancel or change prior to check in time. Noshow tickets do not have any value.</p>
    <p>Our international airline tickets are issued as ONE ticket. Meaning if there is a need to cancel one direction we must cancel both directions. Should the cancellation occur before departure as needed. A request for a refund will be made if applicable and issue new round-trip tickets for your destination including rebooking fees and or added fare difference associated by the airlines.</p>
    <p>Should you cancel prior to travel and the ticket is non refundable there may be a  change fee plus fare difference in new tickets to be purchase due to cancelled tickets.</p>
    <h3>b. Hotels</h3>
    <p>Hotels have different cancellation penalties according to the dates of stay at hotel and others. For example, stricter cancellation penalties are imposed during high season dates such as peak winter, peak summer, Thanksgiving, Christmas, New Years, etc., special events, etc.</p>
    <h3>c. Trains</h3>
    <p>Train tickets are non-refundable.</p>
    <h3>d. Car Rentals</h3>
    <p>Car rental cancellations may charge a penalty at anytime. Please contact our customer service team regarding these fees.</p>
    <h3>e. Sightseeing tours and Transfers</h3>
    <p>
        The closer to your departure date that you cancel, the more likely there will be higher penalties. Canceling within 10 days may result
        in non refundable tours or transfers. The cancellation fee will depend on the terms of the provider of the cancelled tour.
    </p>
    <h3>f. Hydrofoils/Ferries</h3>
    <p>Hydrofoil/ferry if paper tickets must be in our office at least 7 days before travel date in order to be able to be processed for refunds.</p>
    <p>Penalties are subject to specific hydrofoils/ferries conditions. Some tickets are non-refundable and non reroutable.</p>
    <h3>g. Escorted Small Group Tours</h3>
    <p>Complete nonrefundable.</p>
    <p>If you are unable to attend a scheduled tour program within the package no refunds partial refunds will be provided. If you check in to your hotel a day late due to unforeseen circumstances no partial refunds will be provided. If you miss a transfer due to unforeseen circumstances no partial refunds will be provided.</p>
    <h3>h. Travel Insurance Review Period</h3>
    <p>If you’re not completely satisfied, you have 10 days (or more, depending on your state of residence) to request a refund, provided you haven’t started your trip or initiated a claim. Premiums are nonrefundable after this period.</p>
    <h2>13. dispute resolution, complaints and refunds</h2>
    <p>Complaints or disputes will be handled on a case by case basis. Applications for refunds, if permitted, must be made in writing within 30 days of your scheduled return and must be accompanied by appropriate documentation evidencing amounts requested to be refunded.  Please email this documentation to us at the following address: contact@tripmasters.com. In certain situations refunds cannot be issued until receiving appropriate verification and approval from our vendors; this process can be lengthy. A resolution can sometimes take between 12 to 16 weeks.</p>
    <p>We will not refund any money due to passengers arriving late for check-in or meeting times for transfers or activities. Passengers should plan to check in  a minimum of 3 hours prior international flight times and 2 hours prior for regional flight times.</p>
    <p>We will not refund monies for dissatisfaction with the conditions of a property, its rooms, facilities, or services. Please take note that generally the lower the price the lower the property's quality.</p>
    <p>We will not refund monies for train tickets that have been lost, stolen, or left at home. You often must have physical tickets in your possession to board trains in Europe.</p>
    <p>Rental cars have a 3-day minimum rental requirement. You may use less than the 3 days, but we cannot refund the difference upon return from your trip.</p>
    <p>Tripmasters remains committed to our customers' experience and satisfaction. We will work on your behalf and use any supporting documentation to try to obtain a satisfactory outcome to all disputes.</p>

    <h2>14.  Customer Contact Information - Consent Agreement</h2>
    <p>To address the growing demand for timely notification and improved customer service in the event of any airline disruptions, Tripmasters will comply with the upgraded customer notification systems developed by the airlines. As a customer this provides you several benefits. What this means is that we will provide the airline(s) the customer is flying with the customer’s phone number and email information so that the airline(s) can directly communicate any disruptions or operational changes to affected customers within the approved timeframe. </p>
    <p>Because the industry continues to grow there is increasing congestion at airports and in airspace, and other factors such as severe weather conditions, industrial action, or various operational issues can also contribute to the interruption of  normal airline operations. These disruptions can result in major impacts to passenger experience and customer service. Customers understand that things sometimes go wrong, but they do expect an efficient and well communicated resolution. Standing in long lines or waiting on hold without sufficient information can contribute unnecessarily to passenger confusion and stress. </p>
    <p>In order to mitigate these cases, the airline industry has invested in the aforementioned customer notification systems. These systems help provide timely information to passengers affected by any disruption to their service and alleviates further compounding of the issue.</p>
    <p>
        IATA endorsed changes to Resolution 830d and introduced industry standard SSRs CTCE, CTCM and CTCR in a dedicated and structured format for customer contact information entry in the PNR.
        Airlines will use the contact information provided to communicate to the customer any operational  notifications within the operational window.
    </p>
    <p>***Should you wish to opt out from Tripmasters sharing this information with the airline(s), please send an email to <a href="https://www.tripmasters.com/contact_us">contact@tripmasters.com</a> and we will remove the contact information.</p>

    <h2>15. responsibility</h2>
    <p>Tripmasters.com 8730 Georgia Ave Suite 600B, Silver Spring, MD 20910, acts only as agents for the passenger in regards to travel, whether by air, rail, automobile, bus, van, plane, boat, or any other conveyance, and assumes no liability for injury, damage, loss, accident, delay or irregularity, which may be caused due to defect in any vehicle, acts of God, war, riots, or for any company or person involved in conveying the passenger or in carrying out arrangements of the tour. We cannot accept any responsibility for losses or additional expenses due to delay or changes in schedules or other causes such as strikes. All such losses will be the responsibility of the passenger. The right is reserved to make minor adjustments in the itinerary. The right is reserved to cancel any tour prior to departure, in which case a full refund will constitute a full settlement of all liability. Tripmasters.com is not responsible for any lost or damaged luggage before, during or after the tour program. The right is reserved to decline, to accept, or retain any passenger as a member of the tour program. The issuance of vouchers or tickets shall be deemed to be consent to the above conditions. The airline concerned is not to be held liable for any act, omission, or event during the time passenger are not on board their craft. The services of any IATA or ARC carrier may be used in conjunction with these tours. The passenger's tickets when issued shall constitute the sole contract between the airlines and the purchaser and/or passenger. All rates published in any venue are based on exchange rates and tariffs and are subject to change. All taxes, gratuities and porterage charges are subject to deletions, additions or changes without notice. These items are not under the control of Tripmasters.com, since changes in Government regulations and labor agreements cannot always be gathered in advance. Tripmasters.com is not responsible for any changes initiated by the passenger after departure. Maps are designed to show the approximate location of airports and destinations. Maps are not drawn to scale.</p>
    <h2>16. Supplier Terms and Conditions</h2>
    <p style="font-weight: bold;">Tripmasters offers products from other suppliers. </p>
    <p>By booking with <a class="alink" href="https://www.tripmasters.com/">tripmasters.com</a> you are also agreeing to the following <a class="alink" href="https://developer.expediapartnersolutions.com/terms/en/">supplier terms and conditions</a>.</p>
    <h2>17. Travel Gift Certificates</h2>
    <p>
        Travel Gift Certificates are non-refundable and cannot be exchanged for cash in part or full.
        In the event of cancellation, the value of the Gift Certificate less applicable penalty fees may be applied to a future booking. No cash refunds will be provided.
    </p>
    <p>Travel Gift Certificate unique ID will be emailed directly to the gift buyer once the payment has been secured. Other arrangements can be provided upon request. </p>
    <p>Travel gift certificates may be used to pay for the whole or any part of a tour package. There is no limit on the number of travel gift certificates that may be used in one transaction.</p>
    <h4>Expiration and Fees </h4>
    <p>
        TripMasters Gift Certificates do not expire. There are no fees associated with TripMasters Gift Certificates.
    </p>
    <h4>Lost/ Stolen </h4>
    <p>
        Please treat your Gift Certificate like cash and safeguard it. You are solely responsible for the safekeeping and security of your travel gift certificate. In cases where your travel gift certificate is lost or stolen, TripMasters is unable to replace or reimburse the remaining balance on a card. TripMasters cannot be held responsible for any balance lost on a travel gift certificate as a result of theft or fraud. All TripMasters gift certificates have a unique ID number which is required for online purchases. TripMasters cannot be held responsible for any unauthorized use where the Travel Gift Certificate ID has become known to another party.
    </p>
    <h4>Suspicious Activity</h4>
    <p>
        TripMasters reserves the right to refuse to accept, deactivate, cancel, suspend, reject or hold for review any travel gift certificate mistakenly issued in an incorrect amount or issued or obtained, directly or indirectly, in connection with fraudulent or other improper action or activity or in violation of these terms or that TripMasters believes or suspects was involved in any of the foregoing.
    </p>
    <h4 style="font-size:16px">General Terms</h4>
    <p style="font-size:14px">TripMasters reserves the right to make changes to these Terms at any time. </p>
    <h2>18. Security and Privacy</h2>
    <p>
        At TripMasters, we prioritize the protection of personal information and are committed to ensuring the privacy, confidentiality, and security of any sensitive data entrusted to us.

        You can review our existing <a href="/security-privacy">Security & Privacy policy</a> to understand our practices.
    </p>

</div>

@section Scripts
    {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.spNone').click(function () { goToFind(this.id) });
            $(window).scroll(function () { getBodyTop() });
            getBodyTop();
        });
        function goToFind(obj) {
            var lookNum = new RegExp([obj]);
            $('h2').each(function () {
                if (lookNum.test($(this).text())) {
                    goScrool($(this).position());
                    return false;
                }
            });
        };
        function goScrool(obj) {
            $('body,html').animate({ scrollTop: obj.top }, 300);
            $('.backToTop').show();
        };
        function getBodyTop() {
            var bodyRect = document.body.getBoundingClientRect()
            bodyRect.top != 0 ? $('.backToTop').show() : $('.backToTop').hide();
        }
        function gobodyTop() {
            $('body,html').animate({ scrollTop: 0 }, 300, function () { setTimeout(function () { getBodyTop() }, 300) });
        };
    </script>
}