
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
 div.dvpagecontainer {max-width: 980px;padding: 30px 20px 20px 20px; margin: 0 auto;background-color:white}
 div.dvpagecontainer ol {list-style-type: none;margin: 0;padding: 0 10px;}
div.dvpagecontainer ol li {line-height: 42px;padding: 0 10px;margin: 5px 0px;background: #eee;cursor: pointer;font-size: 14px;font-weight: 700}
div.dvpagecontainer ol li:hover {background: rgba(8, 22, 130, 0.94);color: #ffffff}
div.dvvisainfo { display: none;padding: 0 10px;font-size: 14px;font-family: Arial, Helvetica, sans-serif; background-color:white;}
div.dvvisainfo a {color: #00F;overflow-wrap: break-word;}
   </style>

    </head>
<div class="dvpagecontainer">
    <h2><b>Visa Information</b></h2>
    <ol>
        <li>1. About Entry Visas</li>
        <div id="1" class="dvvisainfo">
            <p><b>ABOUT ENTRY VISAS</b></p>
            <p>
                <b>If I need a visa, who is responsible to obtain it? </b><br />
                You are responsible for obtaining the proper travel documents for the destinations on your itinerary, this includes a passport that is valid for at least 6 month, from date of departure, plus a visa if it required.
            </p>
            <p><b>IMPORTANT: Passengers who are not U.S. citizens must check with the respective consulate or a visa agency to determine what personal identification is required. Passengers who enter, leave and then re-enter the same country on their itinerary should check if they require a double-entry visa.</b> Passport applications are available at most U.S. Post Offices, as well as at regional Passport Agencies.</p>
            <p>
                <b>What is meant by the term "visa"?</b><br />
                A visa is a special permission granted to an individual to enter a foreign nation. Many nations require individuals to be approved for travel within their borders. This is something that is required in addition to a valid passport. Visa requirements vary based upon the country/ countries to b e visited and your nationality.
            </p>
            <p>
                <b> How do I know if I need a visa?</b><br />
                Countries listed below in section <b>3. (International Entry & Visa Requirements for U.S. Passport Holders )</b> require specific visa and/or other entry documentation in addition to a valid U.S. passport. Other countries that we travel to (not listed) require only valid U.S. passports at this time. Please note that travel requirements to foreign countries are subject to change.
            </p>
            <p>
                <b>How do I obtain a visa?</b><br />
                A visa may be obtained by contacting a visa service or by contacting the embassy or consulate of the nation you are visiting prior, to departing your home country. Valuable information for US citizens traveling overseas can also be found on <a href="https://travel.state.gov" target="_blank">https://travel.state.gov</a>.
            </p>
            <p>
                <b> How much does a visa cost?</b><br />
                Visa costs vary, and can change with little notice. We recommend that you contact the appropriate embassy or consulate directly for the most up to date information. If you utilize a visa service there will be an additional service fee from.
            </p>
        </div>
        <li>2. Passport Information</li>
        <div id="2" class="dvvisainfo">
            <p><b>PASSPORT INFORMATION</b></p>
            <p>Your U.S. passport should be valid at least 6 months or longer after the date of travel. Passport applications are available at most U.S. Post Offices, as well as at regional Passport Agencies. To lea rn how to apply for a U.S. Passport including expedited services, <a href="https://travel.state.gov/content/passports/en/passports/apply.html" target="_blank">click here</a>. Passengers requiring visas, whether obtained in advance or locally upon arriva l, should ensure that their passport has unstamped visa pages</p>
        </div>
        <li>3. Entry & Visa Requirements</li>
        <div id="3" class="dvvisainfo">
            <p><b>INTERNATIONAL ENTRY & VISA REQUIREMENTS FOR US PASSPORT HOLDERS</b></p>
            <p>Country details below are based on information obtained from the U.S. State Department as of July 24, 2012. This information is subject to change. To check for updates, please check with the consular office of the countries to be visited and/or <a href="https://travel.state.gov/content/passports/en/country.html" target="_blank">click here</a>.</p>
            <p><b>All information provided below pertains to U.S. passport holders only. Non-U.S. Citizens should check with the appropriate foreign consular representative.</b></p>
            <p>Countries listed below require specific visa and/or other entry documentation in addition to a U.S. passport. All other countries (not listed) require only valid U.S. passports.</p>
            <p><b>AUSTRALIA -</b> Electronic Travel Authority (ETA) visa is required. See <a href="https://www.eta.immi.gov.au/ETAS3/etas" target="_blank">eta.immi.gov.au</a> for more information. Please click on the "Apply for ETA" button in the top left hand corner to fill in the on- line application form for an ETA visa. Additional information regarding this visa can be found at the various links directly below the "Apply for ETA" and "Check your ETA" buttons.</p>
            <p><b>BRAZIL -</b> Visa required. Contact the Brazilian Embassy at 3006 Whitehaven Street, NW Washington DC 20 008-3634. Phone (202) 238 -2700. Website: <a href="http://cgwashington.itamaraty.gov.br/en-us/visa_general_information.xml" target="_blank">washington.itamaraty.gov.br/en-us/</a>. Note that those living outside of the this region must contact the consulate of their jurisdiction. There are Brazilian Consulates General in Atlanta, Boston, Chicago, Hartford, Houston, Los Angeles, Miami, New York, and San Francisco. Two days following your initial booking and deposit, you will receive complete information via email about obtaining a visa to Brazil.</p>
            <p><b>CAMBODIA -</b> Visa required. Tourists may obtain a Cambodian visa for $30 upon arrival at the airports in Phnom Penh, Siem Reap, and at all major bord er crossings. Two passport -sized photographs are required. Visas may also be obtained in advance online at least 3 business days prior to travel at <a href="https://www.evisa.gov.kh/" target="_blank">www.evisa.gov.kh</a> for $37.</p>
            <p><b>CHINA -</b> Visa required. Effective August 1st 2012, U.S. passport holders are required to provide additional documentation to support their visa application which includes (1) full passport name; (2) hotel names, addresses and phone numbers; and (3) confirmed airline reserva tions with ticket numbers. This information will be provided to you in writing by us upon receipt of your full payment and once airline tickets have been issued. To learn how to obtain a visa from the Embassy of the People's Republic of China (PRC), visit <a href="http://www.china-embassy.org/eng/visas/" target="_blank">www.china-embassy.org/eng/visas/</a> for more information. There are also Chinese Consulates General in Chicago, Houston, Los Angeles, New York, and San Francisco. Two days following your initial booking and deposit, you will receive complete information via email about obtaining a visa to China. Special note for customers also visiting TIBET . For all passengers traveling to Tibet, when applying for your Chinese Visa, in Section 2, o f the application, Your Visit to China - 2.5 Please list Counties/Cities and Provinces to visit in China in a time sequence, it is only necessary to include : Shanghai, Xian and Beijing.</p>
            <p><b>EGYPT -</b> Visa required. Visas may be purchased at the Cairo airport upon arrival, and is payable in cash US dollars. Royal Caribbean International R passengers may obtain a visa upon the ship's arrival to port.</p>
            <p><b>INDIA -</b> Visa required. To obtain a visa, passengers may visit <a href="https://indianvisaonline.gov.in/visa/index.html" target="_blank">indianvisaonline.gov.in/visa/index.html</a>. Passengers traveling to India will need to provide a reference, including name, address, and phone number, for their Indian visa. Two days following your initial booking and deposit, yo u will receive complete information via email about obtaining a visa to India. Passengers entering India twice in the same trip (for example, when combining India & Nepal) will require a dual entry visa for India. Contact the Embassy of India, 220 Eye Stre et NE, Washington, DC 20002 1 -773-358-1742 OR other consulates found at <a href="http://www.in.ckgs.us/" target="_blank">www.in.ckgs.us/</a>. Visa applications should be submitted as early as possible as visa processing may require as long as 30 days.</p>
            <p><b>INDONESIA -</b> Visa required. Visas may be purchased at airports in Jakarta, Surakarta and Bali upon arrival for $25 .For additional visa information please visit www.embassyofindonesia.org.</p>
            <p><b>JORDAN -</b> Visa required. Visas for tourist visits can be obtained upon arrival at most international ports of entry including Amman's international airport, and land crossings from Israel at Arava/Eilat South Border and Sheikh Hussein/North Border. From J an 1, 2011: Single entry visa costs $60 and multiple entry visa costs $90 approximately. For entry into Jordan via the King Hussein/Allenby Bridge, a visa must be obtained in advance. Contact the Embassy of the Hashemite Kingdom of Jordan, 3504 Internation al Drive, N.W., Washington, D.C. 20008; Telephone: 202 -966- 2664. <a href="http://www.jordanembassyus.org/page/consulate-forms" target="_blank">www.jordanembassyus.org/page/consulate-forms</a></p>
            <p><b>QATAR -</b> Requirements for Entry a valid passport for at least six months and a Visa is required. Tourist Visa may be purchase a 30 -day visa upon arrival at Doha International Airport. If you are arriving at other ports of entry, apply for a tourist or business visa before you travel at a Qatari embassy or consulate. Alternatively, apply online at the portal <a href="http://portal.www.gov.qa/wps/portal/services/touristVisas/touristvisathroughqatarairwaysorhotels" target="_blank">www.gov.qa/wps/portal/services/touristVisas/touristvisathroughqatarairwaysorhotels</a> Be sure to leave Qatar before your visa expires. The Qatari Government charges as much as USD $55 for each day that you overstay your visa, up to USD $3,300 For more information please visit this website the Government of Qatar website: <a href="http://portal.www.gov.qa/wps/portal/topics/Visas+and+Official+Documents/visas" target="_blank">portal.www.gov.qa/wps/portal/topics/Visas+and+Official+Documents/visas</a></p>
            <p><b>RUSSIA -</b> Visa required. The visa application process requires an application form, one passport- sized photo, your trip confirmation from us, a Visa Support Letter (VSL) also provided by us at 35 USD per person fee. These documents are provided for passengers in order to get the VISA itself through the consulate. Two days following your initial booking and deposit, you will receive complete information via email about obtaining a Visa Support Letter (VSL) and a visa to Russia. Visas services for the Embassy of the Russian Federation are managed by Invisa Logis tics Services at their Visa Center, 1680 Wisconsin Avenue, N.W., Washington, D.C.Tel. (202) 827 -0895; Fax (202) 827 -0896. All applicants must first complete an online Visa Application Form at <a href="https://visa.kdmid.ru/" target="_blank">visa.kd mid.ru</a> and then either appear in person at the Visa Center ($30 fee in addition to the Consular visa fees) or submit their application via a visa service. Details at <a href="http://www.russianembassy.org/page/tourist-visa" target="_blank">www.rus sianembassy.org/page/tourist-visa</a>.</p>
            <p><b>SLOVAKIA -</b> Proof of sufficient health insurance coverage and funds (generally in the amount of $50 per person per day) are required upon entry.</p>
            <p>
                <b>SOUTH AFRICA -</b> Passengers joining the 12 Day Classic South Africa are required to have at least one, entirely blank (unstamped) visa page (i.e. one side of such a page not front and back thereof) in their passport, each time entry is sought into South Africa. This includes re-entry from Swaziland. Passengers continuing on to Zimbabwe and/or Botswana are required to have four blank visa pages. These pages are in addition to the endorsement/amendment pages at the back of the passport. South African government regulations prohibit airlines from boarding passengers without the re quired blank visa page. Effective June 1, 2015 children 17 & under will be required to
                present an unabridged full birth certificate. Extracts or copies are not acceptable. If both parents are not traveling with the child, additional documentation is requir ed. For more information regarding children's entry requirements please visit the South African consulate website <a href="http://www.southafrica-newyork.net/homeaffairs/index.htm" target="_blank">www.southafrica-newyork.net/homeaffairs/index.htm</a>
            </p>
            <p><b>TANZANIA -</b> Visa required and all passport holders shoul d have four entirely blank (unstamped) visa pages in their passport. Visas are available for purchase at the Kilimanjaro Airport, however we strongly suggest it is obtained in advance to avoid long delays and ensure entry. Visas upon arrival are not guaran teed. The current fee for a visa is $100. Passengers purchasing a visa at the airport must be prepared to pay in USD (cash). To pre -purchase a visa, contact the Embassy of Tanzania, 1232 22nd Street NW, Washington, DC 20037, telephone (202) 884 -1080. Passengers must carry proof of yellow fever vaccination.</p>
            <p><b>TURKEY -</b> Visa required. Effective April 10, 2014 an advance e -visa is required and "sticker type" visas can no longer be obtained on arrival at the airport in Istanbul. See <a href="https://www.evisa.gov.tr/en/" target="_blank">www.evisa.gov.tr/en/</a> for more information and to obtain a visa. Visas are not required for sea cruise passengers who purchase shore excursions to Kusadasi and Istanbul. When entering Turkey via a land border crossing, a pre-obtained e-Visa is also required. Contact the Embassy of the Republic of Turkey at 2525 Massachusetts Avenue, NW, Washington, D.C. 20008, telephone: (202) 612-6700, or the Turkish consulates general in Chicago, Houston, Los Angeles, or New York. Information may also be found at <a href="http://washington.emb.mfa.gov.tr/Default.aspx" target="_blank">turkey.org</a>.</p>
            <p><b>VIETNAM -</b> Visa required. Contact Vietnamese Embassy, 1233 20th Street, Suite 400, NW, Washington, DC 20036; Website: vietnamembassy-usa.org . There is a Vietnamese Consulate General in San Francisco. Effective February 1 2017 visitors United States, can apply and receive Vietnamese single entry E-visas via the Internet by visiting <a href="https://www.immigration.gov.vn/en_US/web/guest/dv-bao-lanh" target="_blank">www.immigration.gov.vn/en_US/web/guest/dv-bao-lanh</a> The cost of an e-visa in 25USD and are processed within 3 working days. E-visas will be accepted at most international airports in Vietnam, includin g the major hubs of Ho Chi Minh City, Hanoi, Da Nang, Can Tho City, and Phu Quoc Island</p>
        </div>
    </ol>
</div>

@section Scripts{
    <script>
        $(function () {
            $('ol li').click(function () { openTag(this); });
        });
        function openTag(obj) {
            var objTxt = obj.innerHTML;
            switch (true) {
                case /1/.test(objTxt):
                    $('#1').is(':visible') ? ($('#1').slideUp('slow'), $(obj).removeAttr('style')) : ($('#1').slideDown('slow'), $(obj).css({ 'background': 'rgba(8, 22, 130, 0.94)', 'color': '#fff' }));
                    break;
                case /2/.test(objTxt):
                    $('#2').is(':visible') ? ($('#2').slideUp('slow'), $(obj).removeAttr('style')) : ($('#2').slideDown('slow'), $(obj).css({ 'background': 'rgba(8, 22, 130, 0.94)', 'color': '#fff' }));
                    break;
                case /3/.test(objTxt):
                    $('#3').is(':visible') ? ($('#3').slideUp('slow'), $(obj).removeAttr('style')) : ($('#3').slideDown('slow'), $(obj).css({ 'background': 'rgba(8, 22, 130, 0.94)', 'color': '#fff' }));
                    break
            };
        }
    </script>
}